@import "var.less";


.lk {
  display: flex;
  width: 100%;
  height: 100vh;
    &__wrp {
      border: @border;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    &__headline {
      border: @border;
      display: flex;
      width: 100%;
      height: 10%;
    }
    &__username {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
        span {
          font-size: 1.5rem;
          font-weight: bold;
        }

    }
    &__menu {
      border: @border;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
    }
    &__outblock {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
    }


    &__mainblock {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 90%;
    }
    &__blockform {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 70%;     
    }
    &__formpost {
      border: @border;
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 80%;
    }
}