@import "smart-grid.less";
@import "var.less";


.reset();

.wrapper { 
	.wrapper();
}

.body {
  box-sizing: border-box;  
}

.wrp {
  border: @border;
  display: flex;
  flex-direction: column;  
  height: 100vh;
  background-color: lightblue;
    &__contentblock {
      border: @border;
      display: flex;      
      align-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      background-color: lightcyan;
        span {
          border: @border;
        }
    }
    &__link {
      border: @border;
      display: flex;
      flex-direction: row;
      height: 20%;
      background-color: lightgray; 
      margin-top: 100px;
        a {
          width: 7px;
          height: 7px;
          margin: 0 7px;          
        }      
    }



}


