@import "smart-grid.less";
@import "var.less";
@import "add.less";
@import "edit.less";
@import "logs.less";
@import "daylog.less";

.reset();

.wrapper { 
	.wrapper();
}

.body {
  box-sizing: border-box;  
}

.wrp {
  // border: @border;
  display: flex;  
  flex-direction: column;
  height: 100vh;
  &__article {
    // border: @border;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
  }
  &__title {
    // border: @border;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;    
    // margin-bottom: 50px;
    height: 10%;
  }
  &__content {
    // border: @border;    
    height: 85%;
    width: 85%;
    text-align: center;
  }
  &__operations {
    // border: @border;
    display: flex;
    align-items: center;
    height: 5%;
    width: 85%;
      a {
        margin: 0 20px;
      }
  }
  &__paginator {
    // border: @border;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-bottom: 35px;
      a {
        // border: @border;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 0 5px;
        height: 15px;
        width: 15px;
        background-color: lightgray;
      }
  }  



}


